form{
    box-sizing: border-box;
    height: 380px;
}
    .form-raw{
        display: inline-block;
        text-transform: uppercase;
        color:gray;
        border-color: grey;
        font-size: 12px;
        line-height: 20px;
        height: 70px;
        margin-top: 10px;
        width: 100%;
    }
    input{
        display: inline-block;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid gray;
        width: 100%;
        line-height: 30px;
    }
    .form-raw-b{
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        margin-top: 20px;
        width: 100%;
        background-color: hotpink;
     }
        .btn{
            border: 1px solid gray;
            border-radius: 20px;
            color:white;
            text-align: center;
            background-color: blue;
            font-size: 16px;
            line-height: 30px;
            width:150px;
            cursor: pointer;
        }
        .form-raw-b * {
            width: 100%;
            display: inline-block;
            line-height: 20px;
            float: left;
        }
            .form-raw-b span {
                background-color: honeydew;
                margin-left: 200px;
                float: right;
                width: 50px;
            }
            .form-raw-b a {
                color:blue;
               
                text-decoration: none;
            }