body {
      height: 100vh;
      }
    .background-image {
      background-image: url('../img/kalnai.jpg');
      background-size: cover;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      height: 100vh;
      left: 0;
      position: fixed;
      right: 0;
      z-index: -1;
     }
    .container {
        display: inline-block;
        width: 800px;
        margin-top: 150px;
        margin-left: calc( (100% - 800px) / 2 );
    }
        .left{
            display: inline-block;
            width: 300px;
            height: 400px;
            float: left;
            background-image: url('../img/kalnai.jpg');
        }
            h1{
                display: inline-block;
                width: 100%;
                font-size: 30px;
                line-height: 30px;
                text-align: center;
                margin-top: 40px;
                color:white;           
            }
                footer{
                display: inline-block;
                text-align: center;
                font-size: 12px;
                float:button;
                line-height: 20px;
                margin-left: 65px;
                margin-top: 290px; 
                color: white;

                }
                footer a{
                    color: white;
                }
                  
        .right{
            display: inline-block;
            width: 450px;
            height: 480px;
            background-color: white;
            padding: 50px;
            margin-top: -40px;

        }
            .x{
                display: inline-block;
                margin-top: -35px;
                margin-right: -25px;
                float:right;
                color: gray;
                font-size: 30px;
            }